# GEMINI_API_KEY: Required for Gemini AI API calls.
GEMINI_API_KEY="MY_GEMINI_API_KEY"

# APP_URL: The URL where this applet is hosted.
APP_URL="MY_APP_URL"

PORT=3000
MONGO_URI=mongodb+srv://capital:mangement12345@capgainco.o3hgd.mongodb.net/?retryWrites=true&w=majority&appName=Capgainco
CLIENT_URL=http://localhost:3000

# Crypto Payment Settings
BTC_DEPOSIT_ADDRESS=bc1qxy2kgdygjrsqtzq2n0yrf2493p83kkfjhx0wlh
ETH_DEPOSIT_ADDRESS=0x71C7656EC7ab88b098defB751B7401B5f6d8976F
USDT_ERC20_ADDRESS=0x71C7656EC7ab88b098defB751B7401B5f6d8976F
USDT_TRC20_ADDRESS=TX9Z2s213xS9281a8c9831920zmsa
USDT_BEP20_ADDRESS=0x71C7656EC7ab88b098defB751B7401B5f6d8976F

REQUIRED_CONFIRMATIONS_BTC=3
REQUIRED_CONFIRMATIONS_ETH=12
REQUIRED_CONFIRMATIONS_USDT=12

# Mobile Money Settings
MTN_MOMO_API_KEY=demo_mtn_key
MTN_MOMO_SECRET=demo_mtn_secret
TELECEL_API_KEY=demo_telecel_key
TELECEL_SECRET=demo_telecel_secret
AT_MONEY_API_KEY=demo_at_key
AT_MONEY_SECRET=demo_at_secret

# Admin Configuration
ADMIN_EMAIL=admin@cloudminex.io
ADMIN_PASSWORD=admin_secret_pass

